<div class="sidebar">
  <ul>
    <div class="info">
      <li><a class="name" href="/"><b>Adam Leif</b></a></li>
      <li class="default">adamleif [at] ucla [dot]</li>
    </div>

    <li class="default section"><b>Professional</b></li>
    {% for link in site.data.sidebar.professional %}
      <li class="default tab"><a href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}

    <li class="default section"><b>Projects</b></li>
    {% for link in site.data.sidebar.projects %}
      <li class="default tab"><a href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}

    <!-- Dropdowns -->
    <li class="compact">
      <div class="dropdown">
        <button class="drop-btn" onclick="toggleDropdown()">Professional</button>
        <div class="drop-content">
          {% for link in site.data.sidebar.professional %}
            <a href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
    </li>

    <li class="compact">
      <div class="dropdown">
        <button class="drop-btn" onclick="toggleDropdown()">Projects</button>
        <div class="drop-content">
          {% for link in site.data.sidebar.projects %}
            <a href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>
    </li>

    <li>
      <button id="dark-mode-toggle">
        <img class="dark cs-moon" src="/attachments/turn-off-light.png">
        <img class="light cs-sun" aria-hidden="true" src="/attachments/turn-on-light.png">
      </button>
    </li>
  </ul>
</div>