<div class="sidebar">
    <ul>
      <div class="info">
        <li><a class="name" href="/"><b>Adam Leif</b></a></li>
        <li class="default"><a class="email" href="mailto: adamleif@ucla.edu">adamleif [at] ucla [dot]
            edu</a></li>
      </div>
      <li class="default"><b>Professional</b></li>
      <li><a href="cv.html">CV</a></li>
      <li class="default"><a href="honors_thesis.html">Honors Thesis</a></li>
      <li class="default"><a href="https://github.com/asl7168/craigslist_housing">Craigslist Housing</a></li>
      <li class="compact">
        <div class="dropdown">
          <button class="drop-btn" type="button" onclick="toggleDropdown()">Projects</button>
          <div class="drop-content" id="drop-content">
            <a href="honors_thesis.html">Honors Thesis</a>
            <a href="https://github.com/asl7168/craigslist_housing">Craigslist Housing</a>
          </div>
        </div>
      </li>
      <li>
        <button id="dark-mode-toggle">
          <!--Moon is an inline SVG so you can edit the color if needed-->
          <!--toggle mode by Iconographer from <a href="https://thenounproject.com/browse/icons/term/toggle-mode/" target="_blank" title="toggle mode Icons">Noun Project</a> (CC BY 3.0)-->
          <img class="light cs-moon" src="/attachments/turn-off-light.png">
          <img class="dark cs-sun" aria-hidden="true" src="/attachments/turn-on-light.png">
        </button>
      </li>
    </ul>
</div>