/* 
Dark Mode adapted from: 
https://oakharborwebdesigns.com/blog/how-to-add-dark-mode-to-your-website/#blog-post 
*/

body.dark-mode {
  background-color: var(--dark);
}

body.dark-mode p,
body.dark-mode li,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6{
  color: var(--white);
}

body.dark-mode main a {
  color: var(--hyperPink);
}

body.dark-mode main a:hover {
  color: var(--hyperPurple);
}

body.dark-mode .light {
  display: none;
}

body.dark-mode .dark {
  display: block !important;
}

.dark {
  /* class used to hide elements that only need to be seen when dark mode is enabled */
  display: none;
}
