html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.wrapper {
  width: 100%;
}

main {
  display: block;
  margin: 5px 2.5% 0px 225;
  font-size: 18px;
}

main h1 {
  font-size: 24px;
}

main img {
  float: left;
  padding-right: 10px;
}

main a {
  color: rgb(251, 0, 255);
  text-decoration: none;
}

main a:hover {
  color: rgb(115, 0, 255);
}

.silent, .silent:hover {
  color: white;
  text-decoration: none;
}